@import '../../index.scss';

.form-container {
    position: absolute;
    top: 60%;
    left: 50%;
    translate: -50% -50% 0;
    width: 90%;
    text-align: center;
    border: 2px solid #bc8f8f;
    border-radius: 15px;
    background-color: tan;
}
@media screen and (min-width: 1024px) {
    .form-container {
        width: 50%;
    }
}
.form-container label {
    text-align: start;
    display: block;
    margin-left: 10px;
    font-weight: bold;
}
.form-container input[type="email"],
.form-container input[type="text"],
.form-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-container button {
    padding: 10px;
    margin: 10px;
    background-color: #bc8f8f;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.form-container button:hover {
    background-color: #a96f6f;
}
.form-container .checkbox-container {
    margin-bottom: 15px;
    margin-left: 10px;
    display: flex;
}
.error-message {
    color: red; 
    font-weight: bold;
    margin-top: 10px;
  }