@import '../../index.scss';

.top-content {
  h1 {
    font-weight: lighter;
    font-size: 1.5rem;
  }
  .game-box {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% 0 0;
    width: 90%;
    text-align: center;
    border: 2px solid #bc8f8f;
    border-radius: 15px;
    background-color: rgba(210, 180, 140, 0.8);
    &.shifted {
      top: 25%;
    }
    @media screen and (min-width: 1024px) {
      width: 50%;
    }
    .start {
      background-color: #bc8f8f;
      width: 70%;
      margin: 10px auto;
      border-radius: 5px;
      border: 2px solid #967373;
      cursor: pointer;
      font-weight: bold;
      padding: 10px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
      transition: box-shadow 0.3s ease, 0.3s all ease-in-out;
      &:hover {
        background-color: #967373;
      }
    }
  }
  .categories-title {
    display: block;
    margin-left: 50px;
    h2 {
      text-align: start;
      width: 100%;
    }
    .sittingMushy {
      width: 120px;
      position: absolute;
      top: 70px;
      left: 5%;
      transform: translate(-50%, -50%);
    }
  }
  .tag,
  .level {
    text-align: center;
    width: 75%;
    font-size: 18px;
    background: #bc8f8f;
    border-radius: 15px;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
    &:hover {
      color: wheat;
      background-color: #967373;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
    }
  }
  .tag{
    margin-left: 12%;
  }
  .difficulty-box {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    border-radius: 10px;
    gap: 1rem;
    margin: 0 0 25px 75px;
    @media screen and (min-width: 1024px) {
      justify-items: center;
    }
    .level {
      h2 {
        font-size: 16px;
      }
    }
  }
}
.arrow, .congrats, .music, .refresh, .return{
  width: 20%;
  @media screen and (min-width: 1024px) {
    width: 10%;
  }
}
.correct {
  background-color: rgb(96, 199, 96);
  color: white;
}
.incorrect {
  background-color: rgb(252, 93, 93);
  color: white;
}
.progress {
  background-color: black;
  border-radius: 13px;
  padding: 2px;
  width: 80%;
  margin: 0 auto;
  @include transition;
}
.progressBar {
  background-color: orange;
  width: 30%;
  max-width: 100%;
  height: 20px;
  border-radius: 10px;
  @include transition;
}
.score {
  margin-top: 20px;
  font-size: 1.2em;
}
.lock{
  width: 15%;
}
.buttons{
  display: flex;
  margin-top: 10px;
}
.button{
  background: none;
  border: none;
  cursor: pointer;
}