@mixin transition ($duration : .3s, $effect : ease-in-out){
    transition: $duration all $effect;
}
@mixin absmiddle{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50% 0;
}

$beigeFilter : #d2b48ce0;
$darkerRosy: rgb(150, 115, 115);
$background: rgba(211, 181, 141, 0.349);

$greenfilter: #b2e799c4;
$darkerGreeny: #4f7c3a9f;
$backgroundGreen: rgba(18, 85, 1, 0.349);

