@mixin transition ($duration : .3s, $effect : ease-in-out){
    transition: $duration all $effect;
}
@mixin absmiddle{
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50% 0;
}

// Variables pour le thème clair
$beigeFilter: #d2b48ce0;
$darkerRosy: rgb(150, 115, 115);
$background: rgba(211, 181, 141, 0.349);

// Variables pour le thème sombre
$greenFilter: #b2e799c4;
$darkerGreeny: #4f7c3a9f;
$backgroundGreen: rgba(18, 85, 1, 0.349);

// Sélecteur pour le thème sombre
.dark-mode {
  // Remplace les variables par celles du thème sombre
  $beigeFilter: $greenFilter;
  $darkerRosy: $darkerGreeny;
  $background: $backgroundGreen;
}

